@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Domowa Biblioteka</a></li>
                <li><a asp-controller="Search" asp-action="Index" class="navbar-brand">Wyszukiwarka</a></li>
            </ul>

            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Item" asp-action="Index" class="navbar-brand">Zarządzaj</a></li>
                    <li><a asp-controller="Stats" asp-action="Index" class="navbar-brand">Statystyki</a></li>
                </ul>
                <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                    </ul>
                </form>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="registerLink" asp-controller="Account" asp-action="Register">
                        <span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                    <li><a id="loginLink" asp-controller="Account" asp-action="Login">
                        <span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
                </ul>
            }



        </div> 
    </div>
    </nav>

    <div class="container body-content">
        <div class="row"> 
            @RenderBody()
        </div>
    </div>
</body>
</html>