@model Item

<h2>Edytuj pozycję</h2>
<hr />
<div class="row">   
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
            <div class="form-group">
                <input type="hidden" asp-for="ItemId"/>
                <label class="control-label">Podgląd zdjęcia</label><br/>
                <img src="@ViewBag.ImgPath" height="400" width="400"/>
                <input type="file" name="file"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Zdjęcie" class="btn btn-info"/>
            </div>
        </form>
    </div>
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ItemId" />
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cover" value="@ViewBag.ImgPath" />
            <input type="hidden" asp-for="Cover" value="@ViewBag.ImgPath" />
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRent" /> Wypożyczony?
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="RentName" class="control-label"></label>
                    <input asp-for="RentName" class="form-control" />
                    <span asp-validation-for="RentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz zmiany" class="btn btn-success" style="margin-top:30px" />
                    <a asp-action="Index" class="btn btn-info" style="margin-top:30px">Powrót</a>
                </div>
            </div>
        </div>
    </form>
</div>



