@model Item

<form class="navbar-form navbar-left" asp-controller="Search" asp-action="SearchResult">
    <div class="form-group">
        <input type="text" name="SearchString" class="form-control" placeholder="Wpisz wyszukiwaną treść">
    </div>
    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="Title" name="Title">
        <label class="custom-control-label">Tytuł</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="Author" name="Author">
        <label class="custom-control-label">Autor</label>
    </div>


</form>